# Core dependencies
webcolors
python-dotenv
pytest
pformat

# ML
numpy
Pillow
matplotlib
opencv-python
google-genai
google-api-python-client
pandas
ollama
seaborn
xarray
nltk
tensorboard
transformers
einops
pycocotools

# IPy notebooks
ipykernel
ipywidgets
notebook

# PyTorch dependencies
torch
torchvision
torchmetrics
segmentation-models-pytorch
open_clip_torch
